  <h2>User info</h2>
  Name: <%= session[:current_user][:nickname]%> <br>
  Currency: <%= session[:current_user][:currency]%> <br>
  id: <%= session[:current_user][:id]%> <br>
  <br>
  <%= link_to 'sign out', signout_path%>


<!-- <div class="games-list" data-controller="gameList"></div> -->
